<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Mahesh Waghmode/IdeaProjects/RestAssuredAPIAutomation/src/test/java/com/theRohitKingKohali/integrationtc/TCIntegration.java">
        <classes>
            <class name="com.theRohitKingKohali.integrationtc.TCIntegration">
            </class>
        </classes>
    </test>
</suite>